html {
    font-family: Comic Sams, Comic Sans MS;
    -webkit-font-smoothing: antialiased;
    background: #222;
    height: 100%;
}

body {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding-bottom: 3.1em;
    position: relative;
}

nav {
    padding: 2%;
} 

footer {
    color: white;
    background: #333;
    position: absolute;
    text-align: center;
    padding: 0.7rem;
    border-color: #444;
    border-width: 2px;
    border-top-style:solid;
    width: 200%;
    bottom: -3rem;
    left: -50%;
    z-index: -1;
}

.button {
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(50, 50, 50);
    font-family: Comic Sans, Comic Sans MS;
    box-shadow: 2px 2px 10px #000000;
    background: #fd9114;
    text-align: center;
    width: 30%;
    color: rgb(50, 50, 50);
    font-size: 150%;
}

.button:hover {
   -webkit-animation:button-bounce .35s ease-in-out;
    animation:button-bounce .35s ease-in-out;
} 

.button:active {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.content {
    background: #0076AA;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #000000;
    margin: 5px;
    text-align: center;
}

#logo {
    width: 95%;
}

#climbing {
    height: 100%;
    padding: 1%;
    width: 45%;
    display: inline-block;
}

#subtitle {
    color: #fd9114;
    font-size: 2em;
    padding-bottom: 1%;
}

#text {
    padding: 1%;
    font-size: 1.2em;
    text-align: right;
    width: 49%;
    display: inline-block;
    float: right;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

@keyframes button-bounce {
0% {transform: scale(1);}
25% {transform: scale(.8);}
50% {transform: scale(1);}
75% {transform: scale(.9);}
100% {transform: scale(1);}
}

@-webkit-keyframes button-bounce {
0% {-webkit-transform: scale(1);}
25% {-webkit-transform: scale(.8);}
50% {-webkit-transform: scale(1);}
75% {-webkit-transform: scale(.9);}
100% {-webkit-transform: scale(1);}
}
