html {
    font-family: Comic Sams, Comic Sans MS;
    -webkit-font-smoothing: antialiased;
    background: #222;
    height: 100%;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

footer {
    color: white;
}

header {
    text-align: center;
}

nav {
    padding: 15px;
} 

article {
    text-align: right;
    font-size: 2vw
}

.button {
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(50, 50, 50);
    font-family: Comic Sans, Comic Sans MS;
    box-shadow: 2px 2px 10px #000000;
    background: #fd9114;
    text-align: center;
    width: 30%;
    color: rgb(50, 50, 50);
    font-size: 2.5vw
}

.button:hover {
   -webkit-animation:button-bounce .35s ease-in-out;
    animation:button-bounce .35s ease-in-out;
} 

.button:active {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.content {
    background: #0076AA;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #000000;
    margin: 5px;
}

#logo {
    width: 95%;
}

#climbing {
    height: 100%;
    padding-top: 15px;
    padding-right: 0px;
}

#subtitle {
    color: #fd9114;
    font-size: 30px;
    font-size: 3vw
}

@keyframes button-bounce {
0% {transform: scale(1);}
25% {transform: scale(.8);}
50% {transform: scale(1);}
75% {transform: scale(.9);}
100% {transform: scale(1);}
}

@-webkit-keyframes button-bounce {
0% {-webkit-transform: scale(1);}
25% {-webkit-transform: scale(.8);}
50% {-webkit-transform: scale(1);}
75% {-webkit-transform: scale(.9);}
100% {-webkit-transform: scale(1);}
}
